set autoindent
set mouse
set indicator
set tabsize 2
set tabstospaces

bind ^S savefile main
bind ^O insert main
bind ^G gotoline main
bind ^X cut main
bind ^V paste main
bind ^C copy main
bind ^H replace main
bind ^Z undo main
bind ^Y redo main
bind ^F whereis main
bind F1 help main
bind ^Q exit main
bind ^W exit main
